pydantic
python-dotenv
tiktoken
openai
PyMuPDF
langchain
qdrant-client
python-multipart
pytesseract
pillow
graphviz
jinja2
streamlit
pydub
sympy
msal_streamlit_authentication
opencv-python-headless
streamlit_webrtc
streamlit-audiorec
audio-recorder-streamlit
streamlit-camera-input-live
